* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

body {
    background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
    color: #fff;
    min-height: 100vh;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

.logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.logo {
    margin-top: 40px;
    font-size: 26px;
    font-weight: 800;
    color: #00e676;
}
    

nav a {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

nav a:hover {
    color: #00e676;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    flex-wrap: wrap;
}

.hero-text {
    max-width: 550px;
}

.hero-text h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero-text h2 {
    font-size: 28px;
    color: #00e676;
    margin-bottom: 20px;
}

.hero-text p {
    line-height: 1.8;
    margin-bottom: 30px;
    color: #ddd;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
}

.primary {
    background: #00e676;
    color: #000;
}

.secondary {
    border: 2px solid #00e676;
    color: #00e676;
}

.primary:hover,
.secondary:hover {
    opacity: 0.8;
}

/* Image */
.hero-img img {
    width: 350px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}

/* Responsive */
@media (max-width: 768px) {
    .hero {
        text-align: center;
    }

    .hero-img img {
        width: 250px;
        margin-top: 30px;
    }
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

/* صورة المهندس */
.hero-image img {
  width: 280px;
  margin-top: 20px;
  height: 280px;
  border-radius: 50%;      /* صورة دائرية */
  object-fit: cover;
  border: 4px solid #2ecc71;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

/* النص */
.hero-text {
  max-width: 500px;
  margin-top: -60px;
  color: #fff;
}